<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo</title>
  <style>
  .todo-list {
    display:  inline-block;
    width: 32%;
  }
  </style>

</head>
<body>
  <div id="app">
    <div class="todo-list">
      <h2>취업 준비</h2>
      <input type="text" v-model="newTodo1">
      <!-- TODO: 누를 때 마다 addTodo 함수를 실행한다. -->
      <button v-on:click="addTodo1">+</button>
      <!-- TODO: todos 를 반복하며 todo 를 li 태그로 표현한다. -->
      <!-- 여러개 테그를 1:1로 맞춰야해서 v-bind:key -->
      <ul>
        <li v-for="todo in todos1" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <!-- TODO: 누를 때 마다 removeTodo 함수를 실행한다. -->
          <button @click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>
<!-- v-model: 사용자의 입력을 받는 select, textarea, checkbox, input 이랑 data랑 양방향 바인딩 -->


    <div class="todo-list">
      <h2>SSAFY</h2>
      <input type="text" v-model="newTodo2">
      <!-- TODO: 누를 때 마다 addTodo 함수를 실행한다. -->
      <button v-on:click="addTodo2">+</button>
      <!-- TODO: todos 를 반복하며 todo 를 li 태그로 표현한다. -->
      <!-- 여러개 테그를 1:1로 맞춰야해서 v-bind:key -->
      <ul>
        <li v-for="todo in todos2" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <!-- TODO: 누를 때 마다 removeTodo 함수를 실행한다. -->
          <button @click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>


    <div class="todo-list">
      <h2>기타</h2>
      <input type="text" v-model="newTodo3">
      <!-- TODO: 누를 때 마다 addTodo 함수를 실행한다. -->
      <button v-on:click="addTodo3">+</button>
      <!-- TODO: todos 를 반복하며 todo 를 li 태그로 표현한다. -->
      <!-- 여러개 테그를 1:1로 맞춰야해서 v-bind:key -->
      <ul>
        <li v-for="todo in todos3" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <!-- TODO: 누를 때 마다 removeTodo 함수를 실행한다. -->
          <button @click="removeTodo(todo.id)">x</button>
        </li>
      </ul>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todos1: [],
        todos2: [],
        todos3: [],
        // TODO: input 과 양방향 바인딩 한다.
        // input이랑 newTodo를 연동시키기

        newTodo1: '',
        newTodo2: '',
        newTodo3: '',
      },
      methods: {
        // TODO: newTodo 에 저장되어 있는 값을 꺼내서 todos 에 저장할 object 를 만든 후 push 한다.
        // (object 는 content 와 id 속성을 가지고 있다.)
				addTodo1: function() {
          // console.log(this)  // Vue
          if (this.newTodo1) {
            this.todos1.push({
              id: new Date().getTime(),
              content: this.newTodo1,
            })
            this.newTodo1 = ''
          }
				},
        addTodo2: function() {
          // console.log(this)  // Vue
          if (this.newTodo2) {
            this.todos2.push({
              id: new Date().getTime(),
              content: this.newTodo2,
            })
            this.newTodo2 = ''
          }
				},
        addTodo3: function() {
          // console.log(this)  // Vue
          if (this.newTodo3) {
            this.todos3.push({
              id: new Date().getTime(),
              content: this.newTodo3,
            })
            this.newTodo3 = ''
          }
				},
        // TODO: todo 의 id 값을 인자로 받아 todos 에서부터 해당 id 값을 가진 todo 를 삭제한다.
        // target_id: 내가 지우고싶은 id값
				removeTodo: function(target_id) {
          
          // filter이용
          const newTodos = this.todos.filter(todo => {
            return todo.id !== target_id
          })
          this.todos = newTodos
				}
      }
    })
  </script>
</body>
</html>